<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605123303445-qpmj1g30qeq0ki3v6uauq5nqce4aprmc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605123303445-qpmj1g30qeq0ki3v6uauq5nqce4aprmc</string>
	<key>API_KEY</key>
	<string>AIzaSyB1OnIBMRlyO0uuTvo5Nf-kDG6lWQJ75uk</string>
	<key>GCM_SENDER_ID</key>
	<string>605123303445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.umutcn.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-fb7a4</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-fb7a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605123303445:ios:8fa78ffeeb8198a773d61c</string>
</dict>
</plist>